<div *ngIf="status || status_reg; else loggedout">
  <app-home></app-home>
</div>
<ng-template #loggedout>
  <div class="cotn_principal">
    <div class="cont_centrar">
      <div class="cont_login">
        <div class="cont_info_log_sign_up">
          <div class="col_md_login">
            <div class="cont_ba_opcitiy">
              <h2>LOGIN</h2>
              <p>Login to see the College Details and explore</p>
              <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
            </div>
          </div>
          <div class="col_md_sign_up">
            <div class="cont_ba_opcitiy">
              <h2>SIGN UP</h2>

              <p>Sign up to see the College Details and explore</p>

              <button class="btn_sign_up" onclick="cambiar_sign_up()">
                SIGN UP
              </button>
            </div>
          </div>
        </div>

        <div class="cont_back_info">
          <div class="cont_img_back_grey">
            <img
              src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d"
              alt=""
            />
          </div>
        </div>
        <div class="cont_forms">
          <div class="cont_img_back_">
            <img
              src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d"
              alt=""
            />
          </div>
          <div class="cont_form_login">
            <a href="#" onclick="ocultar_login_sign_up()"
              ><i class="material-icons">&#xE5C4;</i></a
            >
            <h2>LOGIN</h2>
            <input
              type="text"
              (keyup)="onf_s($event)"
              placeholder="Firstname"
            />
            <input
              type="password"
              (keyup)="onroll_no($event)"
              placeholder="Rollno"
            />
            <button
              class="btn_login"
              (click)="login()"
              onclick="cambiar_login()"
            >
              LOGIN
            </button>
          </div>

          <div class="cont_form_sign_up">
            <a href="#" onclick="ocultar_login_sign_up()"
              ><i class="material-icons">&#xE5C4;</i></a
            >
            <h2>SIGN UP</h2>
            <input
              type="text"
              (keyup)="onfirst_name($event)"
              placeholder="Firstname"
            />
            <input
              type="text"
              (keyup)="onreg_roll_no($event)"
              placeholder="RollNo"
            />
            <input
              type="password"
              (keyup)="onreg_roll_no($event)"
              placeholder="Salary"
            />
            <button
              class="btn_sign_up"
              (click)="register()"
              onclick="cambiar_sign_up()"
            >
              SIGN UP
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div style="float: left">
    <form id="accesspanel">
      <h1 id="litheader">LOGIN</h1>
      <div class="inset">
        <p>
          <input
            type="text"
            name="username"
            id="email"
            placeholder="Enter your Firstname"
            (keyup)="onf_s($event)"
          />
        </p>
        <p>
          <input
            type="text"
            name="password"
            id="password"
            placeholder="Enter roll no"
            (keyup)="onroll_no($event)"
          />
        </p>
        <p class="p-container">
          <button id="go" name="Login" (click)="login()">Login</button>
        </p>
      </div>
    </form> -->
  <!-- 
  <h1>Login {{ status }}</h1> -->
  <!-- <div *ngIf="status; else loggedout">
  <p>Login {{ status }}</p>
</div>

<ng-template #loggedout>
  <p>Login {{ status }}</p>
</ng-template> -->

  <!-- <div *ngIf="!status">
      <form id="accesspanel">
        <h1 id="litheader">REGISTRATION</h1>
        <div class="inset">
          <p>
            <input
              name="username"
              id="email"
              placeholder="Enter your Firstname"
              type="text"
              (keyup)="onfirst_name($event)"
            />
          </p>
          <p>
            <input
              name="username"
              id="email"
              placeholder="Enter your roll_no"
              type="text"
              (keyup)="onreg_roll_no($event)"
            />
          </p>

          <p>
            <input
              name="username"
              id="email"
              placeholder="Enter your Salary"
              type="text"
              (keyup)="onsalary($event)"
            />
          </p>
          <p>
            <button (click)="register()">Register</button>
          </p>
        </div>
      </form>
    </div> -->

  <!-- <!-- First_name
   
    <hr />
    Roll_no
    <input type="text" (keyup)="onreg_roll_no($event)" />
    <hr />
    Salary
    <input type="text" (keyup)="onsalary($event)" />
    <hr />
    <button (click)="register()">Register</button>

    <div *ngIf="status_reg; else regout">
      <p>Login {{ status_reg }}</p>
    </div>

    <ng-template #regout>
      <p>Login {{ status_reg }}</p>
    </ng-template>

    <hr /> -->
</ng-template>
